.side_bar
  .side_header
    %h3.side_header__name
      西澤
    %ul.side_header__lists
      %li.list
        = link_to "#" do
          = icon('fas', 'edit', class: 'icon')
      %li.list
        = link_to "#" do
          = icon('fas', 'cog', class: 'icon')
  .groups
    .group
      .group__name
        TEST
      .group__message
        メッセージはまだありません。
